page-result {

  span#average {
    //line-height: 1.5;
    //text-transform: capitalize;
    margin-top: 9px;
    //white-space: normal;
    //text-align: justify;
    font-weight: bold;
    color: #ffb400;
    float: left;
  }
  
  div#ratingsDiv{
    margin-left: 20px;
  }
}
