<ion-header>
  <ion-navbar>
    <ion-title>
      <h1 id="title">Centennial Survey</h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top id="body">
  <!--
  <ion-buttons end>
    <button ion-button icon-only (click)="nop()">
    <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
  -->

  <ion-spinner id="spinner" [hidden]="!loading"></ion-spinner>

  <form *ngIf="survey" (submit)="doSubmit($event)" [formGroup]="survey">
    <ion-list no-lines id="body">
    <div formArrayName="items">
      <ion-item *ngFor="let question of questions | async ; let i = index;"
      no-padding 
      >
      <div [formGroupName]="i">
        <!-- (click)="showOptions(question.id, question.title)" -->
        
        <!-- <ion-list-header *ngIf="!!question.header" no-padding> -->
        <h2 *ngIf="!!question.header" id="title">{{question.header}}</h2>
        
        <!-- </ion-list-header> -->

        <p></p>
        <h4 id="question">{{question.id}}. {{question.title}}</h4>

        <rating *ngIf="question.type == 'radio'" formControlName="rating" readOnly="false" max="5"
        emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
        nullable="false" (ngModelChange)="onStarChange($event)"> </rating>


        
        <ion-item *ngIf="question.type == 'text'">
        <ion-input type="text" formControlName="answer" id="rounded"></ion-input>
        </ion-item>

        <ion-item hidden>
            <ion-input readonly value="{{question.id}}" formControlName="id"></ion-input>
          </ion-item>
          <ion-item hidden>
            <ion-input readonly value="{{question.title}}" formControlName="title"></ion-input>
          </ion-item>
          <ion-item hidden>
            <ion-input readonly value="{{question.type}}" formControlName="type"></ion-input>
          </ion-item>
      </div>
      </ion-item>
    </div>
    </ion-list>
    
    <button ion-button type="submit">Submit</button>
  </form>
  <button ion-button (click)="toResult()">See Results</button>
</ion-content>
