<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <ion-buttons end>
    <button ion-button icon-only (click)="addSurvey()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list>
    <ion-item *ngFor="let question of questions | async" (click)="showOptions(question.id, question.title)" >
      <h1>{{question.id}}. {{question.title}}</h1>
      <ion-item *ngFor="let answer of question.answers">
        {{ answer }}

      </ion-item>
      
    </ion-item>
  </ion-list>
</ion-content>
