<ion-header>
  <ion-navbar>
    <ion-title>
      Centennial Survey
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-buttons end>
    <button ion-button icon-only (click)="addSurvey()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list>
    <ion-item *ngFor="let question of questions | async">
    <!-- (click)="showOptions(question.id, question.title)" -->
      <h1>{{question.header}}</h1>
      <h4>{{question.id}}. {{question.title}}</h4>
      
      <ion-list radio-group *ngIf="question.type == 'radio'">
        <ion-item *ngFor="let answer of question.answers">
          <ion-icon name="checkmark"></ion-icon>{{ answer }}
        </ion-item>
      </ion-list>
      
      <ion-item *ngIf="question.type == 'text'">
        <ion-input></ion-input>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
