// http://ionicframework.com/docs/theming/
//@import "centennial"
//@import 'centennial.css';
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$light-green: #d4df38;
$dark-green: #44883c;
$gray: #464646;
$light-gray: lightgray;

$star: #ffb400;
$primary-title: white;
$secondary-title: $dark-green;
$title-background: $gray; 
$text-box: white;

$button-text: $light-green;
$button-text-hover: $dark-green;
$button-background: $gray;
$button-background-hover: $gray;

h1,
h2,
h3,
h4,
h5,
h6,
ion-list-header {
    line-height: 1.5;
    text-transform: capitalize;
    margin: 0;
    white-space: normal;
    text-align: justify;
    color: $secondary-title;
//#D4DF36;
}

h3,
h4,
h5,
h6,
ion-list-header {
    color: $secondary-title;
}

ion-title, ion-header.header#header,
div.toolbar-background.toolbar-background-md,
button.bar-button-default-md,
h1, h2#title {
    color: $primary-title;
    background-color: $title-background;
}

h2#title {
    font-weight: bold;
    padding: 5px 0px;
    margin-bottom: 13px !important;
}

h4#question {
    color: $secondary-title;
    font-weight: bold;
}

.list-header {
    //color: blue;
}

ion-input {
    //background-color: #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#body {
    background-color: lightgray;
    font-family: Anton,
    Helvetica,
    Helvetica Neue,
    Arial,
    serif;
}

ion-item.item-md {
    background-color: lightgray;
}

ul {
    padding: 0px;
    &.rating li {
        padding: 5px 10px !important;
        background: none;
        color: $star;// #d0e0b8;
        ion-icon {
            font-size: 30px;
        }
    }
}

#rounded {
    width: 100%;
    //height: 100px;
    //background-color: lightgray;
    border: 2px solid $text-box;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    //margin-bottom: 10px;  
}

#container {
    //width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}

button.button {
    width: 100%;
    font-weight: bold;
    color: $button-text;
    background-color: $button-background;
}

button.button:hover {
    color: $button-text-hover;
    background-color: $button-background-hover !important;
}