// http://ionicframework.com/docs/theming/
//@import "centennial"
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
page-home {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ion-list-header {
        line-height: 1.5;
        text-transform: uppercase;
        white-space: normal;
        color: #44883c;
    }
    background-color: #464647;
    font-family: Anton,
    Helvetica,
    Helvetica Neue,
    Arial,
    serif;
    ul {
        padding: 5px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #d0e0b8;
            ion-icon {
                font-size: 20px;
            }
        }
    }
}